<div id="hero-image">
    <div class="wrapper">
      <h2>DONE IS BETTER THAN THE PERFECT.<br /><strong>BLOG BY CoU</strong></h2>
      <a href="#" class="ghost-button-1"> Menu</a>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->

<div id="secondary-content">

    <div class="wrapper">

        <article style="background-image: url('images/article-image-1.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                <a href="#" class="more-link">View more</a>
            </div><!-- .overlay-->
        </article>

        <article style="background-image: url('images/article-image-2.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                <a href="#" class="more-link">View more</a>
            </div><!-- .overlay-->
        </article><div class="clear"></div>

    </div><!-- .wrapper -->

</div><!-- #secondary-content -->
