<div id="left" style="height: 500px;">
    <table>
        <tr>
            <th>名前（Name）</th>
            <td>Kouta SUGIHARA</td>
        </tr>
        <tr>
            <th>名前（Name）</th>
            <td>Kouta SUGIHARA</td>
        </tr>
    </table>
</div>
