
<div id="hero-image">
    <div class="wrapper">
        <div id="left" style="height: 500px;">
            <!-- <h1 style="padding: 300px 0 0 0; text-align: center;">Under construction ...</h1> -->
            <center>
                <h1>送信完了しました。</h1>
            </center>
        </div>
    </div><!-- .wrapper -->
</div><!-- #hero-image -->
