
/* --------------------------------------------------------------------- */
/*   /articles/<post_id>の記事閲覧画面  */
/* --------------------------------------------------------------------- */


#container {
    width: 980px;
    height: 100%;
    margin: 85px auto 0;
}

#left_article img {
   /* 横幅に合わせて自動縮小するが、拡大はしない */
   max-width: 100%;
}

#left_article h1{
    font-size: 36px;
    line-height: 40px;
    margin: 4em 0 1.6em 0;
    font-weight: normal;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;
    color: rgb(230,180,80);
}

#left_article h2 {
    margin: 4em 0 1.5em 0;
    font-weight: normal;
    position: relative;
    font-size: 28px;
    line-height: 40px;
    background: #355681;
    background: rgba(230,180,80, 0.8);
    border: 1px solid #fff;
    padding: 5px 8px;
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(230,180,70, 0.5);
    text-align: left;
}

#left_article h3 {
    margin: 4em 0 1.5em 0;
    padding: 0 0.25em;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    xtext-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-size: 28px;
    line-height: 40px;
    color: rgb(230,180,80);
    xtext-transform: uppercase;
    border-bottom: 1px solid rgba(230,180,70, 0.3);
    text-align: left;
}

#left_article h4 {
    font-size: 24px;
}

#left_article h5 {
    font-size: 20px;
}

#left_article h6 {
    font-size: 15px;
}

#left_article p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
}

#left_article em{
    font-style: normal;
}

#left_article hr {
    border: 0;
    margin-top: 0;
    height:2px;
    background: #ccc;
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(0.7,#ccc), color-stop(0.7,#ccc), to(#333));
    background: -moz-linear-gradient(left,#333 0%, #ccc 30%, #ccc 70%, #333 100%);
    background: -o-linear-gradient(left,#333 0%, #ccc 30%, #ccc 70%, #333 100%);
    background: -ms-linear-gradient(left,#333 0%, #ccc 30%, #ccc 70%, #333 100%);
    background: linear-gradient(left,#333 0%, #ccc 30%, #ccc 70%, #333 100%);
    -pie-background: linear-gradient(left,#333 0%, #ccc 30%, #ccc 70%, #333 100%);
}

#left_article blockquote {
  background: #f9f9f9;
  border-left: 6px solid #ccc;
  margin: 1.5em 5px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  overflow:hidden;
}
#left_article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

#left_article blockquote p {
  display:inline;
}

#left_article em{
  background-color: rgba(230,180,80, .2);
  padding: 1px 3px;
}

#left_article code{
  font-size: 13px;
  line-height: 1.5em;
}
