
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#container {
    width: 980px;
    height: 100%;
    margin: 85px auto 0;
    font-size: 14px;
    position: relative;
    clear: left;
    line-height: 3em;
}


#container:after {
  display: block;
  clear: both;
  content: "";
}

#left{
    padding: 1.25em;
    background-color: #fff;
}
#right{
    padding: 0.5em;
    background-color: #fff;
}

#left_article{
    padding: 0 20px;
    font-size: 16px;
    color: #111;
    margin-bottom: 2em;
    line-height: 1.8;
}

td#left_article_sumbnail{
    padding: 0 10px 0 0;
}
td#left_article_sumbnail img{
    width: 150px;
}

td#left_article_title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 20px
}

.global-nav--font__clear{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#left_article_tag_list{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

#left_article_tag_list span.left_article_tag{
    text-align: center;
    padding: .4em .5em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background: none;
    background-color: #DEE7F8;
    font-weight: normal;
}

#left_article_tag_list span.left_article_tag:hover{
    opacity: .7;
}

#left_article_tag_list a{
    color: #000;
}

/* 記事一覧画面 ( /articles/ ) */

.left_article_list{
    line-height: 1;
    font-size: 11px;
    border-color: rgba(56,56,56,0.5);
}

.left_article_list a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1000ms ease;
}
.left_article_list a:hover {
    background-color: rgba(230,180,80, .2);
}

.left_article_list img.left_article_list_img {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.left_article_list table{
    width: 100%;
}

.left_article_list td.left_article_list_thumbnail{
    width: 200px;
    height: 100px;
}

.left_article_list td{
    padding: 6px 4px;
}

.left_article_list tr.left_article_list_title{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    line-height: 150%;
    height: 125px;
}
.left_article_list td.left_article_list_title{
    border-bottom: 1px dotted;
}

.left_article_list tr.left_article_list_date{
    font-size: 15px;
    color: #181818;
}
.left_article_list td.left_article_list_date{
    border-bottom: 1px dotted;
    text-align: right;
}

div[id^="post-ad-"] {
    height: 100%;
    width: 100%;
    padding-left: 7px;
}

div[id^="right_latest_article-ad-"] {
    height: 100%;
    width: 100%;
    padding-left: 2px;
}

h1.right_sub{
    margin-right: 0.5em;
    border-bottom: 1px solid;
    border-color: rgba(56, 56,56, 0.2);
    font-size: 15px;
}
span.right_sub{
    margin: 0 0 -1px -0.5em;
    padding: 0 0 5px 10px;
    display: inline-block;
    border-bottom: 1px solid;
    border-color: #ed9326;
    font-weight: bold;
}

#right .right_tag_cloud a{
    opacity: 0.80;
    color: #fff;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 30px;
    border-radius: 5px;
    transition: all 500ms ease;
}
#right .right_tag_cloud a.css1{background-color: #4A4A4A;}
#right .right_tag_cloud a.css2{background-color: #428BCA;}
#right .right_tag_cloud a.css3{background-color: #5CB85C;}
#right .right_tag_cloud a.css4{background-color: #D9534F;}
#right .right_tag_cloud a.css5{background-color: #567E95;}
#right .right_tag_cloud a.css6{background-color: #B433FF;}
#right .right_tag_cloud a.css7{background-color: #00ABA9;}
#right .right_tag_cloud a.css8{background-color: #B37333;}
#right .right_tag_cloud a.css9{background-color: #FF6600;}
#right .right_tag_cloud a:hover{
    background: white;
    color: #3a7999;
}

#right .st_articles td{
    padding: 2px 3px;
    vertical-align: middle;
}

#right .right_latest_articles img.article_image{
    width: 100px;
    padding: 1px 3px 1px 0;
    display: inline-block;
    vertical-align: middle;
}
#right .right_latest_articles span.article_title{
    font-size: 12px;
    display: inline-block;
    line-height: 150%;
}

#right .right_latest_articles a {
    color: #181818;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1000ms ease;

}
#right .right_latest_articles a:hover {
    background-color: rgba(230,180,80, .2);
}

/* pagination (kaminari) 関連のstyle */
#left nav.pagination {
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    font-size: 30px
}
#left nav.pagination span.current {
    border: 2px solid #ed9326;
    opacity: 0.80;
    color: #4A4A4A;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 30px;
    border-radius: 3px;
    transition: all 500ms ease;
}

#left nav.pagination a {
    background-color: #4A4A4A;
    border: 2px solid #4A4A4A;
    opacity: 0.80;
    color: #fff;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 30px;
    border-radius: 3px;
    transition: all 500ms ease;
}
#left nav.pagination a:hover{
    background: white;
    color: #4A4A4A;
}

#left nav.pagination span.page a {
    background-color: #ed9326;
    border: 2px solid #ed9326;
    opacity: 0.80;
    color: #fff;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 30px;
    border-radius: 3px;
    transition: all 500ms ease;
}
#left nav.pagination span.page a:hover{
    background: white;
    color: #4A4A4A;
}


/* MEDIA QUERIES */
@media screen and (min-width: 760px ) {
/*   #left { margin-right: 19.5em; } */
/*    #right { position: absolute; top: 0; right: 0; width: 18.75em;} */
    #left { float: left; width: 690px;}
    #right { float: right; width: 280px; }
}
