/*
 *= require_self
 *= require posts_form
 *= require posts_highlight
 *= require pygments
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#container {
    width: 950px;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    clear: left;
}

#left, #right{
    border: 1px solid  #ccc; /* 後で外す */
    padding: 1.25em;
    background-color: #fff;
}

h2.left_article_title{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.global-nav--font__clear{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#left_article_tag_list{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

span.left_article_tag{
    text-align: center;
    padding: .4em .5em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background: none;
    background-color: #DEE7F8;
    font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
    #left { margin-right: 19.5em; }
    #right { position: absolute; top: 0; right: 0; width: 18.75em; }
}
