
.highlight pre > span:before {
  font-size: .10em;
  color: #000;
  counter-increment: linenumbers;
  content: counter(linenumbers);
  left: -3.2ex;
  position: absolute;
  text-align: right;
  width: 2.5ex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

