@font-face {
   font-family: 'MyWebfont';  /* Change this to whatever you like. */
   src: url('mywebfont-regular.ttf') format('truetype');  /* The "regular" font resource. */
   font-style: normal;  /* Associates values of "normal" with this resource. */
   font-weight: normal;  /* As above for weight. */
}

@font-face {
   font-family: 'MyWebfont';  /* Importantly, the same as in the above block; the family name. */
   src: url('mywebfont-italic.ttf') format('truetype');
   font-style: italic;  /* Associates values of "italic" with this resource. */
   font-weight: normal;  /* ... It's not a bold-italic font style. */
}

#header{
  height: 75px;
}

#container {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    clear: left;
    line-height: 3em;
}

#container:after {
  display: block;
  clear: both;
  content: "";
}

table#posts-table {
   table-layout: fixed;
   width: 100%;
}

table#posts-table tr{
    vertical-align: top;
}

table#posts-table td#posts-textarea{
  margin: 0;
  padding: 0;
  font-size: 9px;
}

table#posts-table td#posts-textarea textarea{
  height: 100px;
  border: 4px gray solid;
  font-size: 16px;
  line-height: 1.8;
  color: #ECEEF1;
  background-color: #101010;
}

table#posts-table td#posts-preview{
  xbackground-color: #181818;
  font-size: 9px;
  xcolor: #ECEEF1;
  background-color: #ffffff;
  font-color: #ECEEF1;
}

table#posts-table td#posts-preview{
}

/* --------------------------------------------------------------------- */
/*   /posts/indexのテーブル関連   */
/* --------------------------------------------------------------------- */

table#post_table{
  width: 100%;
}
table#post_table th{
  white-space: nowrap;
  width: 100px;
}

table#post_table th.post_table_id{
  width: 50px;
}
table#post_table th.post_table_title{
  width: 300px;
}


table#category_table{
  width: 100%;
}
table#category_table th{
  white-space: nowrap;
  width: 100px;
}
table#category_table tr.new{
  background-color: rgba(230,180,80, .4);
}
table#category_table td{
  word-break : break-all;
  vertical-align: middle;
}
